@model CRUDWithModelPopup1.Models.DBEntites.Product
@{
    ViewData["Title"] = "Product List";
}

<h3>
    @ViewData["Title"]
</h3><hr />

<div>
    <button class="btn btn-primary mb-2" id="btnAdd">Add Product</button>
</div>
    <div class="container">
        <table class="table table-success table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Qty</td>
                    <td>Action</td> 
                 </tr>
            </thead>
            <tbody id="tblBody">

            </tbody>
        </table>
    </div>

    <div class="modal" id="ProductModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modelTitle"></h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" value="0" />
                    <div class="mb-2">
                        <label asp-for="ProductName"></label>
                        <input type="text" asp-for="ProductName" class="form-control" placeholder="Product Name"/>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Price"></label>
                        <input type="number" asp-for="Price" class="form-control"   placeholder="Price" />
                    </div>
                    <div class="mb-2">
                        <label asp-for="Qty"></label>
                        <input type="number" asp-for="Qty" class="form-control"   placeholder="Quantity" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="Save" type="submit" onclick="Insert();">Save</button>
                    <button class="btn btn-success" id="Update" type="submit" style="display:none" onclick="Update();">Update</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Close</button>
                </div>
            </div>
        </div>
    </div> 
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/product.js"></script>


